@import "../../scss/main.scss";

.Login{
    // height:90vh;
    font-size:1.5rem;
    padding:2rem 0;
    background-color:var(--background-gray);
    h2{
        color:var(--blue);
        font-family: 'Poppins', sans-serif;
    }
    .form{
       input{
           font-size: 1.5rem;
       }
    }
    .btn,.btn-secondary{
        background-color:var(--blue);
        border-color: var(--blue);
    }
    .btn:hover,.btn-secondary:hover{
        color:white;
        background-color:var(--black);
        transition: ease-in-out .5s;
    }
    .btn:focus{
        outline:none;
    }
    .error{
        color:red;
    }
}