@import "../../scss/main.scss";
.Dashboard{
    text-align: left;
    .row{
        --bs-gutter-x: 0rem;
    }
    &__nav-mobile{
        @include breakpoint(mobile-med){
            // display: block;
        }
    }
    // .toggle{
    //     // position: absolute;
    //     // left: 0;
    //     // top: 4rem;
    // }
    .showNav{
        @include breakpoint(mobile-med){
            left: 0;
        }
    }
    .close{
        position: absolute;
        right: 0;
        top: 0;
        color:white;
        font-size: 2rem;
       @include breakpoint(mobile-med){
           display: inline-block!important;
       }
    }
    &__nav{
        position: fixed;
        left: 0;
        top: 0;
        height: 100vh;
        padding: 0.5rem;
        width:20rem;
        z-index: 100;
        font-family: Poppins,sans-serif;
        background-color:#08092B;
        text-align: left;
        transition:.5s linear;
        @include breakpoint(mobile-med){
            left: -100%;
        }
    }
    h2{
        padding-left: 2rem;
        color:white;
    }
    &__nav-menu{
        padding: 0;
        margin:0;
        .active{
            color:white;
            border-radius: 2rem;
            background-color:rgba(255, 255, 255, 0.253);

        }
        li{
            color:var(--gray-2);
            list-style: none;
            padding: .5rem 0;
            margin-top: .5rem;
            padding-left:2rem;
            cursor: pointer;
        }
        li:hover{
            color:white;
            border-radius: 2rem;
            background-color:rgba(255, 255, 255, 0.253);
        }
        a{
            color:var(--gray-3);
            font-family: Poppins;
            font-size: 1.6rem;
            text-decoration: none;
            i{padding-right:.5rem}
        }
        li:hover a{
            color: white;
        }
    }

}