@import "../../scss/main.scss";
.SpecialProducts{
    padding-top: 6rem;
    padding-bottom:6rem; 
    h3{ 
        text-align:left; 
        font-size:3rem;
        font-weight: 800;
        padding-bottom:2rem;
    }
    .item{
        height:30rem;
        // background-color:var(--gray-2);
        @include breakpoint(mobile-med){
            padding:2rem;
            // background-color:blue;
        }
    }
    .image{
        background-color:var(--gray-2);
        position:relative;
        height:100%;
        overflow: hidden;
        img{
            height:100%;
            transform: scale(1);
            transition: .4s ease-in-out;
        }
        a{
            position:absolute;
            left:50%;
            bottom: 0;
            transform:translate(-50%,0);
            opacity:0;
            font-size: 1.4rem;
            padding: 1rem 2rem;
            background-color:white;
            color:var(--black);
            border-radius: 2rem;
            cursor: pointer;
            transition: .4s ease-in-out;
        }
        a::after{
            content:"Quick View"
        }
        a:hover{
            color: white !important;
            background-color:var(--black);
        }
    }
    .image:hover a{
        // color: white;
        bottom: 15%;
        opacity: 1;

    }
    .image:hover img{
        transform: scale(1.2);
    }
}